.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

data/raw/*.csv
data/processed/*
models/*
reports/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
